/*
 *
 *  General
 *
 */
body.home{
	margin-top:0px !important;
}
.main_wrapper{
	overflow: hidden;
}
.clear{
	clear:both;
}

a {
  text-decoration: none;
  transition:all 0.35s ease-in-out;
  -moz-transition:all 0.35s ease-in-out;
  -webkit-transition:all 0.35s ease-in-out;
  -o-transition:all 0.35s ease-in-out;
   cursor: pointer;
}

a:hover {
  color: #000000;
  text-decoration: none;
  transition:all 0.35s ease-in-out;
  -moz-transition:all 0.35s ease-in-out;
  -webkit-transition:all 0.35s ease-in-out;
  -o-transition:all 0.35s ease-in-out;
  cursor: pointer;
}
a, a:hover, a:focus, a:active{
	outline:none;
}
.title{
	margin: 10px 0 35px;
	position: relative;
	height: 20px;
	z-index: 1;
	/background: url(../img/title_loop.png) repeat top left;
}
.title h4, .title h3{
	margin:0px;
	//background: #fff;
	display: inline-block;
	padding-right:10px;
	font-weight: 700;
  	letter-spacing: -0.05em;
	color:#444;
}

.span8 iframe{
	min-width: 100% !important;
    height: 470px !important;
}

/* button sizes */

.button-small{
	padding: 10px 20px 10px 20px;
	font-family: 'Open Sans', sans-serif, arial;
	font-size: 13px;
	text-decoration: none;
	margin-bottom:5px;
	position: relative;
	font-weight:bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.button-medium{
	padding: 15px 25px;
	font-family: 'Open Sans', sans-serif, arial;
	font-size: 14px;
	font-weight:bold;
	text-decoration: none;
	margin-bottom:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

}

.button-red.delete-button{
	 background-color: red;
}


/*
 *
 *  Button colours
 *
 */

/* Green */

.button-green, body.user_project input[type="submit"], .button-small, .button-medium, button[type="submit"]{
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	border:0px;
	  transition:all 0.35s ease-in-out;
	-moz-transition:all 0.35s ease-in-out;
	-webkit-transition:all 0.35s ease-in-out;
	-o-transition:all 0.35s ease-in-out;
	cursor:pointer;

}
.button-green:hover, body.user_project input[type="submit"]:hover, .button-small:hover, .button-medium:hover, .button-green:active, .nav-tabs .active a, .nav-tabs .active a:hover, .nav-tabs .active a:active, .button-small:active, .button-medium:active, button[type="submit"]:hover, button[type="submit"]:active{
	color: #fff;
	  transition:all 0.35s ease-in-out;
	-moz-transition:all 0.35s ease-in-out;
	-webkit-transition:all 0.35s ease-in-out;
	-o-transition:all 0.35s ease-in-out;
}


/* White */

.button-white{
	color:#666;
	background-color: #3bb3e0;
	background-image: linear-gradient(bottom, #ccc 0%, #f1f1f1 100%);
	background-image: -o-linear-gradient(bottom, #ccc 0%, #f1f1f1 100%);
	background-image: -moz-linear-gradient(bottom, #ccc 0%, #f1f1f1 100%);
	background-image: -webkit-linear-gradient(bottom, #ccc 0%, #f1f1f1 100%);
	background-image: -ms-linear-gradient(bottom, #ccc 0%, #f1f1f1 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #ccc), color-stop(1, #f1f1f1) );
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #fff, 0px 2px 0px 0px #999, 0px 2px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #fff, 0px 2px 0px 0px #999, 0px 2px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #fff, 0px 2px 0px 0px #999, 0px 2px 3px #999;
	box-shadow: inset 0px 1px 0px #fff, 0px 2px 0px 0px #999, 0px 2px 3px #999;
	border: solid 1px #ccc;
}
.button-white:hover{
	background-image: linear-gradient(bottom, #ddd 0%, #f1f1f1 100%);
	background-image: -o-linear-gradient(bottom, #ddd 0%, #f1f1f1 100%);
	background-image: -moz-linear-gradient(bottom, #ddd 0%, #f1f1f1 100%);
	background-image: -webkit-linear-gradient(bottom, #ddd 0%, #f1f1f1 100%);
	background-image: -ms-linear-gradient(bottom, #ddd 0%, #f1f1f1 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #ddd), color-stop(1, #f1f1f1));
	-webkit-box-shadow: inset 0px 1px 0px #fff, 0px 2px 0px 0px #999, 0px 2px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #fff, 0px 2px 0px 0px #999, 0px 2px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #fff, 0px 2px 0px 0px #999, 0px 2px 3px #999;
	box-shadow: inset 0px 1px 0px #fff, 0px 2px 0px 0px #999, 0px 2px 3px #999;
	border: solid 1px #ccc;
}
.button-white:active{
	top:1px;
	background-image: linear-gradient(bottom, #ccc 0%, #f1f1f1 100%);
	background-image: -o-linear-gradient(bottom, #ccc 0%, #f1f1f1 100%);
	background-image: -moz-linear-gradient(bottom, #ccc 0%, #f1f1f1 100%);
	background-image: -webkit-linear-gradient(bottom, #ccc 0%, #f1f1f1 100%);
	background-image: -ms-linear-gradient(bottom, #ccc 0%, #f1f1f1 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #ccc), color-stop(1, #f1f1f1) );
	-webkit-box-shadow: inset 0px 1px 0px #fff, 0px 1px 0px 0px #999, 0px 1px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #fff, 0px 1px 0px 0px #999, 0px 1px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #fff, 0px 1px 0px 0px #999, 0px 1px 3px #999;
	box-shadow: inset 0px 1px 0px #fff, 0px 1px 0px 0px #999, 0px 1px 3px #999;
	border: solid 1px #ccc;
}

/* Top navigation */

.navbartop-wrapper{
	background: #3d3d3d;
	width:100%;
	height:42px;
}
.navbartop-wrapper .container ul.top-nav{
	list-style:none;
	padding:0;
	margin:0;
}
.navbartop-wrapper .container ul.top-nav li{
	list-style:none;
	float:left;
	margin: 11px 25px 0px 0px;
}
.navbartop-wrapper .container ul.top-nav li, .navbartop-wrapper .container ul.top-nav li a{
	color:#bbbbbb;
	text-transform:capitalize;
	  transition:all 0.35s ease-in-out;
	-moz-transition:all 0.35s ease-in-out;
	-webkit-transition:all 0.35s ease-in-out;
	-o-transition:all 0.35s ease-in-out;
}
.container ul.top-nav li.current-menu-item a{
	background-color:#e8e6e6;

}
.navbartop-wrapper .container ul.top-nav li:hover, .navbartop-wrapper .container ul.top-nav li a:hover{
	text-decoration:none;
	  transition:all 0.35s ease-in-out;
	-moz-transition:all 0.35s ease-in-out;
	-webkit-transition:all 0.35s ease-in-out;
	-o-transition:all 0.35s ease-in-out;
}

a.login-top, a.register-top, a.account-top, a.submit-top, a.logout-top{
	display:block;
	float:right;
	padding:11px 20px 11px 20px;
	height:100%;
	color:#fff;
	text-decoration:none;
	transition:all 0.35s ease-in-out;
	-moz-transition:all 0.35s ease-in-out;
	-webkit-transition:all 0.35s ease-in-out;
	-o-transition:all 0.35s ease-in-out;
}

.top-right{
	float:right;
	width:55%;
}
a.login-top:hover, a.register-top:hover, a.account-top:hover, a.submit-top:hover, a.logout-top:hover{
	text-decoration:none;
	color:#fff;
	opacity:0.5;
	transition:all 0.35s ease-in-out;
	-moz-transition:all 0.35s ease-in-out;
	-webkit-transition:all 0.35s ease-in-out;
	-o-transition:all 0.35s ease-in-out;
}

a.logout-top{
	color:#999;
	padding-right:0px;
}

a.logout-top:hover{
	color:#666;
}
a.login-top{
	background-color:#2b2a2a;
}
a.account-top{
	margin-right:5px;
}
a.submit-top i, a.account-top i{
	margin-right:5px;
}
.reg-log-btn{
	margin-top:15px;
}
/* Social media */

.navbartop-wrapper .container ul.social-media{
	list-style:none;
	padding:0;
	margin:0 10px 0 0;
	float:right;
}
ul.social-media li{
	list-style:none;
	float:left;
	margin: 13px 15px 0px 0px;
}

ul.social-media li a{
	width: 16px;
	display:block;
	height: 16px;
	text-indent: -10000px;
	transition:all 0.35s ease-in-out;
	-moz-transition:all 0.35s ease-in-out;
	-webkit-transition:all 0.35s ease-in-out;
	-o-transition:all 0.35s ease-in-out;
}


ul.social-media li a.facebook{
	background: url('../img/icons/facebook.png') left bottom no-repeat;
}
ul.social-media li a.twitter{
	background: url('../img/icons/twitter.png') left bottom no-repeat;
}
ul.social-media li a.rss{
	background: url('../img/icons/rss.png') left bottom no-repeat;
}
ul.social-media li a.google{
	background: url('../img/icons/google.png') left bottom no-repeat;
}
ul.social-media li a.skype{
	background: url('../img/icons/skype.png') left bottom no-repeat;
}


ul.social-media li a:hover{
	background-position:0px 0px;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}

.logo-wrapper, .search-wrapper{
	float:left;
}
.search-wrapper{
	height:42px;
	border-radius:0;
}
.search-wrapper input{
	background:url(../img/search-icon.jpg) center right no-repeat #333 !important;
	border: 0px;
	height:21px;
	border-right:1px solid #1d1d1d;
	border-left:1px solid #1d1d1d;
}

/* Main navigation */

.navbar{
	text-decoration: none;
	float:right;
}

.navbar-inverse .nav > li.current-menu-item > a{
	color: #ffffff ;
}
.navbar-wrapper{
	position:relative;
	z-index:99999;
}
.page-template-tmp-no-title-php .navbar-wrapper{
	border-bottom: 1px solid #E7E7E7;
}
/*
 *
 *  Blocks
 *
 */


.project-card{
	border: 1px solid #e2e2e2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	min-height: 350px;
	background-color: #fff;
	margin-left:2%;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.05);
	position:relative;
	float:left;
}
.isoprblckall .project-card{
	margin-left:1% !important;
	margin-right:0.8% !important;
}
.caroufredsel_wrapper .project-card{
	/width:210px !important;
}
.project-card.span4{
	width:28.9%;
}
.project-card.span3{
	width:21%;
}
.project-card.span4 img, .project-card.span3 img, .project-card img{
	width:100%;
}

.project-card p{
	margin-top:15px;
	margin-bottom:0px;

}
.project-card a.edit-button{
	float:left;
	margin-top:10px;
}
.project-card ul, .project-stats{
	margin:0;
	padding:0;
	float:left;
}
.project-card li, .project-stats li{
	float:left;
	list-style-image: none;
	list-style-type: none;
	margin-left: 0;
	white-space: nowrap;
	display: inline;
	float: left;
	padding-right: 16px;
	color: #828587;
}
.project-stats li:last-child{
	padding-right:0px;
}
.project-card li strong, .project-stats li strong{
	display: block;
	color: #333;
	font-weight: bold;
	font-size:14px;
}
.block_location{
	margin-bottom:10px;
	padding-bottom:10px;
}
.project-successful{
	background: #72C626;
	padding: 2px 0px 3px 5px;
	margin: 10px 0px 15px 0px;
	color: #fff;
	float: left;
	width: 98%;
	border-radius:3px;
}
.project-unsuccessful{
	background: #ff2a00;
	padding: 2px 5px 3px 5px;
	margin: 10px 0px 15px 0px;
	color: #fff;
	float: left;
	width: 98%;
	border-radius:3px;
}

/* Page blocks */

.block-category_block{
	margin:15px 0px 0px 0px;
}

.template-wrapper .title{
	margin: 30px 0px 30px 0px;
	overflow:
}

#category-menu{
	float:right;
	width:22%;
	min-height: 330px;
	border-left: 1px solid #e2e2e2;
}
#category-menu li{
	list-style:none;
	padding-left:5px;
	transition:all 0.35s ease-in-out;
  	-moz-transition:all 0.35s ease-in-out;
  	-webkit-transition:all 0.35s ease-in-out;
  	-o-transition:all 0.35s ease-in-out;
}
#category-menu li:hover, #category-menu li.current{
	list-style:none;

	transition:all 0.35s ease-in-out;
  	-moz-transition:all 0.35s ease-in-out;
  	-webkit-transition:all 0.35s ease-in-out;
  	-o-transition:all 0.35s ease-in-out;
}
#category-menu li a{
	display:block;
	font-size:14px;
	color:#333;
	padding:5px 5px 5px 15px;
}
#category-menu li a:hover, #category-menu li.current a{
	display:block;
	color:#fff;
	background:#666666;
}

#category-post-content{
	width:74%;
	float:left;
}

.block-project_highlight_block #category-post-content .project-thumb-wrapper{
	float:left;
	width: 42%;
	margin-right: 3%;
}
.block-project_highlight_block #category-post-content .project-thumb-wrapper img{
	width: 100%;
	margin-top: 5px;
}
#loading-animation{
	text-align:center;
}
.category-container{
	float:left;
	width:55%;
}
.category-container h3{
	margin-top:0px;
}
.category-container .edit-button{
	margin-top:0px;
	float:right;
}
.category-container .project-stats{
	width:100%;
	margin-bottom:25px;
}
.category-container .project-stats li{
	margin-right:10px;
	padding-left: 20px;
	border-left:1px solid #e2e2e2;
}
.category-container .project-stats li:first-child{
	border-left:0px;
	padding-left: 0px;
}
.category-container .project-stats li strong{
	font-size:150%;
}

.block-projects_block .edit-button{
	float:right;
	margin-bottom:15px;
}
.block-projects_block .title{
	margin-bottom:20px;
}
.block-projects_block .isotope{
	margin-top: 35px;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope .isotope-item {
	margin-top:10px;
	margin-bottom:10px;
}
.block{
	margin-bottom: 20px;
	margin-top: 20px;
	position:relative;
}
.block-page_header_block h2{
	font-size: 50px;
	line-height: 60px;
	text-transform: uppercase;
	color: #666;
}

.block-page_header_block p{
	margin: 0px 0px 0px 0px;
	font-size: 18px;
	color: #999;
	margin-top: 0px;
}
/* Tabs & Accordion */

.block_tabs, .block_accordion_wrapper, .block_toggles_wrapper{
	margin-top: 10px;
}

.block_tabs .nav-tabs li a{
	opacity:1;
}

.splitter li a, .nav-tabs a{
	padding:10px 20px 10px 20px;
	font-weight:normal;
	display:block;
	color:#fff;
	font-size:12px;
	opacity: 1;
	background:#333;
}
.splitter li[class*="selected"] > a, .splitter li a:hover, .nav-tabs a:hover, .nav-tabs > li.active > a{
	color:#fff;
	opacity: 1;
}
.nav-tabs .ui-state-active a,.nav-tabs > li > a:hover, .nav-tabs > li > a:focus,  a.ui-accordion-header-active, .block_accordion_wrapper .ui-state-hover, .block_toggle .open {
 	color:#fff;
}


.ui-accordion-content p{
 background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
   }
.block_accordion_wrapper h3 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #D8D8D8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #D8D8D8;
    border-right-color: #D8D8D8;
    border-left-width: 1px;
    border-right-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-color: #D8D8D8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 70px;
    padding-top: 10px;
    position: relative;
}
.addthis_toolbox{
height: 30px;
}
/*
 *
 *  Pages
 *
 */

.page .span12{
	margin-left:0px;
}
#profile .span9{
	width:690px;
}
.page-title{
	background:url(../img/title_bg.jpg) repeat-x top center ;
	height:73px;
}
.page-title .span12{
	margin-left:0px;
}
.page-title .container{
	background:url(../img/title_bg.png) no-repeat top center;
	height:73px;
}
.page-title h1{
	font-size:20px;
	color:#333;
	font-weight:normal;
	margin: 15px 20px 15px 0px;
	float:left;
}
.page-title h1 a{
	font-size:60%;
}
.breadcrumbs{
	font-size:11px;
	float: right;
	font-family: 'Open Sans', sans-serif, arial;
	margin: 27px 10px 20px 20px;
}
.title-page{
	margin-left:-5px;
}
.normal-page{
	margin-top:15px;
}

/* 404 page */

.four0four{
	text-align: center;
	padding: 100px 0px 80px 0px;
}

.huge {
	font-size: 80px;
	padding-bottom: 30px;
	color: rgba(153,153,153, 0.8);
	text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}

/*
 *
 *  Blog page
 *
 */

/* Blog list */

.blog .span8{
	margin-left:0px;
}
.page-template-tmp-blog-left-php .blog .span8{
	margin-left: 2.9%;
}
.page-template-tmp-blog-left-php .blog .span4 {
	margin-left:0px;
}
.blog .span4{
	/margin-left: 25px;
	/width:295px;
	margin-bottom:20px;
}
.blog{
	margin-top:15px;
}

.blog-list{
	float:left;
	margin-bottom:30px;
	margin-top:20px;
	position:relative;
	width:100%;
}
.blog-list h2 a{
	color: #5a5a5a;
}
.blog-thumb-wrapper{
	min-width:50px;
	min-height:50px;
	float:left;
}
.blog-pdate{
	position:absolute;
	left:0px;
	top:0px;
	color:#fff;
	padding:15px;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	line-height:20px;
	z-index:999;
	margin:10px;
}
.plove a{
	color:white;
}
.blog-thumb-wrapper a img, .blog-list h2 a{
	opacity: 1;
	filter: alpha(opacity=100);
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}

.blog-thumb-wrapper a img:hover, .blog-list h2 a:hover{
	opacity: 0.75;
	filter: alpha(opacity=75);
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}
.blog-pdate-noimg{
	color:#fff;
	padding:15px;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	line-height:20px;
	float:left;
	margin:0px 10px 10px 0px;
}

.blog-list img{
	float:left;
	margin:0px;
	margin-right:15px;
	min-width:100%;
}
.blog-list h2{
	font-size:18px;
	line-height:20px;
	margin-top:18px;
	margin-bottom:15px;
}

.blog-pinfo-wrapper{
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	padding: 5px 5px 3px 5px;
	margin-top:35px;
}
.post-pinfo{
	float:left;
	width:70%;
	margin-top:8px;
	font-size:10px;
	color:#999;
}
.blog-list .button-small{
	float:right;
}

/* Blog page*/

.blog-post{
	float:left;
	margin-bottom:30px;
	margin-top:20px;
	position:relative;
	width: 100%;
}
.blog-post-header img{
	width:100%;
	min-width:100%;
}
.blog-post-header h2{
	font-size:20px;
	margin:10px 0px 0px 0px;
}
.blog-post-header .blog-pinfo-wrapper{
	margin-top:10px;
	margin-bottom:15px;
}
.blog-post-header .post-pinfo{
	margin-top:0px;
}
#comments h3{
	margin-top: 30px;
	margin-bottom: 30px;
}
#comments ul{

}
#comments ul li{
	list-style: none;
}

#pager{
	float:left;
	margin:0;
	padding:0;
	margin-bottom:20px;
}
#pager li{
	float:left;
	list-style:none;
	margin-right:10px;
}
#pager li a{
	display:block;
	padding:5px 10px 5px 10px;
	border:1px solid #e2e2e2;

}
#pager li a.active, .blog #pager li a:hover{
	color:#fff;
}
.search #pager, .profile-projects #pager{
	    padding-left: 20px;
    margin-top: 10px;
}
.page-selector{
	padding-bottom: 6px !important;
	padding-top: 4px !important;
}

/* Widgets */

footer ul, .widget ul {
	margin: 0px;
	padding: 0px;
}
footer > ul > li {
	list-style: none;
	border-top: 1px solid #333;
	padding: 10px 10px 10px 0px;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.widget > ul > li {
	border-top: 1px solid #ddd;
	padding-top: 15px;
	padding-bottom: 15px;
	list-style: none;
}
.widget{
	padding: 20px;
	background: #f8f8f8;
	border: 1px solid #eee;
	margin: 20px 0px 0px 0px;
}

.widget h3{
	margin-top: 0px;
	margin-bottom: 20px;
	line-height: 1 !important;
	font-size: 16px;
	font-weight: normal;
	padding: 20px;
	margin-left: -20px;
	width: 100%;
	margin-top: -20px;
	background: #3d3d3d;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	color: white;
}

.widget form{
	margin-bottom:0px;
}
.widget textarea,.widget input[type="text"],.widget input[type="password"],.widget input[type="datetime"],.widget input[type="datetime-local"],.widget input[type="date"],.widget input[type="month"],.widget input[type="time"],.widget input[type="week"],.widget input[type="number"],.widget input[type="email"],.widget input[type="url"],.widget input[type="search"],.widget input[type="tel"],.widget input[type="color"],.widget .uneditable-input{
	width: 90%;
	padding: 5%;
	margin: 0px;
}
/* Projects widget */

.widget .review  li .img, .footer_widget .review  li .img{
	float:left;
	width:20%;
	margin-right: 5%;
	margin-right: 10px;
	transition:all 0.35s ease-in-out;
    -moz-transition:all 0.35s ease-in-out;
    -webkit-transition:all 0.35s ease-in-out;
    -o-transition:all 0.35s ease-in-out;
}
.widget .review  li .img:hover, .footer_widget .review  li .img:hover{
	opacity: 0.75;
	transition:all 0.35s ease-in-out;
    -moz-transition:all 0.35s ease-in-out;
    -webkit-transition:all 0.35s ease-in-out;
    -o-transition:all 0.35s ease-in-out;
}
.widget .review  li .info, .footer_widget .review  li .info{
	float:left;
	width:75%;
}
.widget .review  li .info h4, .footer_widget .review  li .info h4{
	font-size:14px;
	margin-top:0px;
	margin-bottom:5px;
}
.widget .review  li .info h4 a{
	color:#333;
}
.widget .review  li .info .post-author, .footer_widget .review  li .info .post-author{
	font-size:10px;
	margin-top:-6px;
}
.widget .review  li .info .progress, .footer_widget .review  li .info .progress{
	height: 10px;
	box-shadow: none;
	border-radius: 3px;
	margin-bottom:0px;
	background:#eee;
}
.widget .review  li .info .project-stats, .footer_widget .review  li .info .project-stats{
	margin-top:10px;
}
.widget .review  li .info .project-stats .pledged, .footer_widget .review  li .info .project-stats .pledged{
	margin-left: 10px;
	min-width: 50px;
}
.widget .review  > li, .footer_widget .review  > li {
    height: auto;
	border-bottom: 0px;
	border-top: 1px solid #eee;
	margin: 10px 0px 0px 0px;
	padding-top: 25px;
	list-style: none;
	padding-bottom: 15px;
}
 .widget .review   > li:first-child ,  .footer_widget  .review   > li:first-child {
	margin-top: 0px;
	border-top: 0px;
	padding-top: 10px;

}
 .widget .review  li small,  .footer_widget .review  li small{
    font-size: 11px;
	color: #999;
}

 .widget .review  li .info .overall-score .rating,  .footer_widget .review  li .info .overall-score .rating {
    font-size: 15px;
	text-shadow: 0px 0px 0px;
}
 .widget .review  li .info .overall-score, .footer_widget .review  li .info .overall-score {
    margin: 0;
	padding: 0;
}
.footer_widget .review li .img{
	display:none;
}
.footer_widget .review li .info{
	width:100%;
}
.footer_widget .review li .info .progress{
	background:#333;
}
.footer_widget .review > li{
	border-top: 1px solid #333;
	color:#999;
	padding-top: 20px;
padding-bottom: 10px;
}
.footer_widget .project-card li strong, .footer_widget .project-stats li strong{
	color:#999;
}
.footer_widget > ul > li:last-child {
	border-bottom: 1px solid #333;
	border-bottom: 0px;
	border-top: 1px solid #333;
}
/*
 *
 *  Project page
 *
 */

.tab-pane .span8{
	margin-left:0px !important;
}

.project-info-wrapper{
	background:#eeeeee;
	padding:25px 20px 20px 20px;
	border:1px solid #e2e2e2;
}
.project-thumb-wrapper-big img{
	min-width:100%;
}

.button-contribute{
	font-size:20px;
	font-weight:bold;
	text-shadow:0 1px 0 #666;
}

.button-contribute:hover{
	text-shadow:0 1px 0 #999;
}

.project-info, .project-info h3{
	float:left;
}
.project-info{
	width:100%;
	color:#999;
}
.project-info h3{
	font-size:45px;
	color:#444;
	padding:0px;
	line-height: 34px;
	width:100%;
	margin-top:0px;
}
.project-info h3 span{
	font-size:12px;
	color:#777;
}
.progress{
	float:left;
	width:100%;
	margin-top:10px;
}
.funding-info{
	float:left;
	width:100%;
}
.tabbable .alert{
	margin-bottom: -20px;
	margin-top: 20px;
}
.cf-thanks .alert-success{
	margin-top: 20px ;
	margin-bottom: 0px;
}
.entry-content .error{
 color:red;
}
/* Author */

.author-side{
	background:#eeeeee;
	padding:10px;
	border:1px solid #e2e2e2;
	margin-top:15px;
}

.author-side img{
	border:3px solid;
	width:95px;
	height:95px;
	float:left;
}

.author-info{
	float:left;
	color:#999999;
	margin-left:15px;
	width:160px;
}
.author-info a{
	font-size:18px;
}
.author-info p{
	font-size:14px;
	color:#666;
	margin-top:10px;
}

.author-info p .author-url{
	font-size:13px;
}
.update-date-stamp{
	    font-size: 11px;
    color: #999;
}
/* Perks */

.perks-wrapper{
	background:#eeeeee;
	border:1px solid #e2e2e2;
	margin:15px 0 0 0 ;
}

.perk{
	list-style:none;
	margin:0px;
	padding:15px;
	border-bottom:1px solid #e2e2e2;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}
.perk:hover{
	background:#e2e2e2;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}
.perk:last-child{
	border-bottom:0px;
}
.perk label{
	margin-top:0px !important;
}
.perk label p{
	margin-bottom:0px;

}
.perk h4{
	color:#444;
	text-transform:capitalize;
	line-height:25px;
}
.perk h4 span{
	font-size:12px;
	color:#999;
}

.who-are-you{
	float: left;
	margin-right: 60px;
}

.funding-method{
	float: left;
}

/* Project content */

.project-social{
	margin-top:10px !important;
}
.project-content, .project-social{
	background:#eeeeee;
	border:1px solid #e2e2e2;
	padding:15px;
	margin-top:15px;
}


/* Project update */
#updates .comment-list{
	padding:0px;
	margin:0px;
}
#updates .comment-list li{
	background:#f8f8f8;
	border:1px solid #e2e2e2;
	padding:15px;
	margin-bottom:15px;
	list-style:none;
}
#updates .comment-list li .update-date-stamp{
	font-size: 11px;
	color: #999;
}
#updates .comment-list li p{
	padding: 10px 0px;
	/* background: white; */
	margin-top: 5px;
	border-top: 1px solid #eee;
	color: #333;
}

/* OLD
.project-update{
	background:#eeeeee;
	border:1px solid #e2e2e2;
	padding:15px;
	margin-bottom:15px;
}

.project-update-avatar, .project-update-info h4, .project-update-date{
	float:left;
}
.project-update-info{
	border-bottom:1px solid #e2e2e2;
	margin-bottom:20px;
}
.project-update-info img{
	width:60px;
	height:60px;
	border:3px solid;
	margin:0px 15px 15px 0px;
}
.project-update-info h4{
	font-size: 16px;
	margin-top: 18px;
	width:80%;
}
/*
/* Project backers */

.project-backer{
	background:#eeeeee;
	border:1px solid #e2e2e2;
	padding:15px;
	margin-bottom:5px;
}

.project-backer .span3{
	margin-left: 0;
}
.project-backer .span3 img{
	border:2px solid;
	width:50px;
	height:50px;
	float:left;
	margin:0px 10px 0px 0px;
}
.project-backer .span3 img, .project-backers .span3 p{
	float:left;
}


/* project comments */

.project-comment, .comment-form{
	background:#eeeeee;
	border:1px solid #e2e2e2;
	padding:15px;
	margin-bottom:5px;
}
.comment-form .comment-form{
	border:none;
}
.comment-form{
	clear:both;
}
.comment-form .form{
	margin-bottom:0px;
}
.project-comment li{
	background:#eeeeee;
	border:1px solid #e2e2e2;
	padding:15px;
	margin-bottom:5px;
}
.comment-form textarea{
	width:98% ;
}
.comment-form button{
	margin-top:15px;
}
.project-comment .span1{
	margin-left: 0;
}
.project-comment .span1 img{
	border:2px solid;
	width:50px;
	height:50px;
	float:left;
	margin:0px 10px 0px 0px;
}
.project-comment .span1 img, .project-backers .span1 p{
	float:left;
}

.comment-info{
	color:#999;
	margin-bottom:15px;
}


 /* gallery */

.project-gallery{
	background:#eeeeee;
	border:1px solid #e2e2e2;
	padding:15px;
	margin-bottom:5px;
	list-style:none;
}
.project-gallery .gallery-image{
	list-style:none;
	float:left;
	margin:0px 8px 15px 5px;
}
.project-gallery .gallery-image a{
	border:2px solid;
	width:130px;
	height:130px;
	display:block;
	overflow:hidden;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	opacity: 0.75;
	filter: alpha(opacity=75);
}
.project-gallery .gallery-image a:hover{
	border:2px solid;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	opacity: 1;
	filter: alpha(opacity=100);
}
.project-gallery .gallery-image img{
	width:130px;
	min-height:130px;
	min-width:130px;
}

/*
 *
 *  All projects page
 *
 */

.all-projects #category-post-content{
	width:75%;
}
.all-projects #category-menu{
	width:23%;
	margin-left:12px;
}

/*
 *
 *  Profile page
 *
 */

.profile{
	margin-top:15px;
	margin-bottom:0px;
}

.profile-projects{
	background: #f1f1f1;
	border-bottom: 1px solid #e2e2e2;
	border-top: 1px solid #e2e2e2;
}
.author .profile-projects, .archive .profile-projects{
	background:transparent;
	border-top:0px;
	border-bottom:0px;
}
.profile-projects h2{
	font-size: 20px;

	margin-left:2.8%;
}
.profile-projects .span12{
	margin-left:0px;
}.

.profile-info h1{
	font-size:25px;
	margin-top:0px;
}
.profile-info{
	position:relative;
}
.profile-info .tabbable {
	margin-bottom: 15px;
	width:72%;
}
.profile-info .tabbable .span10{
	margin-left:0px;
}
.profile .nav-tabs{
	position:absolute;
	right:0px;
	top:-70px;
	margin-top:0px !important;
}

#profile-edit #description{
	font-size:12px;
}

.profile .tab-content{
	overflow: hidden;
}
dl small{
	color:#999;
	font-weight: normal;

}
#profile{
	padding-bottom: 20px;
}
#profile h1{
	font-size:28px;
	margin-top:0px;
}
#profile table{
	border: 1px solid #e8e8e8;

	width:100%;
}
#profile table tr{
	border-bottom: 1px solid #e8e8e8;
}
#profile table tr:last-child{
	border-bottom: 0px;
}
#profile table td:first-child{
	width: 27%;
	color:#666;
	font-size:12px;
	font-weight:bold;
	background:#fcfcfc;
	border-right: 1px solid #e8e8e8;
}
#profile table td{
	padding:20px;
	color:#999999;
}
#profile h1 small{
	display: inline-block;
	background: #cccccc;
	padding: 5px 8px;
	border-radius: 5px;
	font-size: 10px;
	font-weight: bold;
	color: white;
	position: relative;
	top: -4px;
	margin-left: 10px;
	text-transform: capitalize;
}
.profile-info .shadow{
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	position: relative;
	max-width: 250px;
	float: right;
	margin-bottom: 20px;
}
.profile-info .shadow img{
	border-radius:6px;
	width:100%;
}
.profile-info .shadow:before{
	display:block;
    content:'';
	border-radius: 5px;
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px 0px 0px 8px white;
    -webkit-box-shadow: inset 0px 0px 0px 8px white;
    box-shadow:inset 0px 0px 0px 8px white;
}
.biography{
	color:#999;
}
.page-template-tmp-my-account-php .breadcrumbs{
	display:none;
}
body .profile select{
	padding:4px 6px;
}
body .profile .form-submit{
	margin-top:15px;
}
body .profile .description{
	font-size: 11px;
	margin-top: 6px;
	color: #999;
}
.profile-projects .project-card .button-small{
	font-size: 80%;
	padding: 5px 10px;
	float:none;
	display:inline-block;
}

/*
 *
 *  Contact page
 *
 */

/* Google map */
#map-canvas{
	width: 100%;
	height: 500px;
}
#map-canvas img {
	max-width: none;
}
.contact-page form .span6{
padding-bottom:50px;
}
.gmap{
	position: relative;
	margin-left:0px !important;
		margin-right:0px !important;
		padding-left:0px !important;
		padding-right:0px !important;
	height: 500px;
	width: 100% !important;
	z-index: 33333;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); /* For Webkit browsers */
	filter: gray; /* For IE 6 - 9 */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
		transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	padding-left: 0px;
	margin-top: 0px;
}

.gmap:hover{
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}
@media print {
  html, body {
    height: auto;
  }
}
#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
.huge {
    color: rgba(153, 153, 153, 0.8);
    font-size: 110px;
    padding-bottom: 30px;
    text-shadow: 1px 4px 6px #DDEEFF, 0 0 0 #000000, 1px 4px 6px #DDEEFF;
}
#toTop{
	z-index: 22222 !important;
}

.contact{
	padding: 15px 15px 15px 0px;
	margin-top:15px;
}
.contact ul{
	padding:0;
	margin:0;
}
.contact textarea{
	width: 90%;
	height: 180px;
	padding:2%;
}

.contact .input-prepend{
	 margin-bottom:15px;
}

.contact input[type='submit']{
	margin-left:26px;
}
.contact .controls{
	margin-top:20px;
}
.controls li{
	list-style:none;
}
.contact .ctitle{
	background: url(http://theme-fusion.com/avada/wp-content/themes/Avada/images/bg-title.gif) repeat-x 0 50%;
	line-height: 1 !important;
	font-size: 18px;
	color: #333;
	font-weight: normal;
	margin-top:0px;
	margin-bottom:20px;
}

.contact .title span{
	background:#fff;
	padding-right: 7px;
}
.cpage .span8{
	margin-left:0px ;
}

.contact label.error{
	padding: 5px;
	margin: 10px 0px 0px 27px;
	border: 1px solid;
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	width:135px;
}

.contact .error{
	border: 1px solid;
	border-color: #b94a48;
}


/*
 *
 *  Footer
 *
 */

.footer_widget1, .footer_widget2, .footer_widget3, .footer_widget4{
	float:left;
}
footer{
	padding:20px 0px 20px 0px;
	margin-top:0px;
	z-index: 1;
	position: relative;
}
footer h3{
	color:#f1f1f1;
	font-weight:normal;
	font-size:18px;
	margin-bottom:25px;
}

.copyright{
	background:#333;
	padding:10px 0px 0px 0px;
	color:#666;
}

.footer_widget ul{
	margin:0px;
	padding:0px;
}
.footer_widget > ul > li{
	color:#1d1d1d;
	list-style:none;
	border-top:1px solid #333;
}
.footer_widget > ul > li > a{
	background:url(../img/list.png) 8px 0px no-repeat;
	display:block;
	padding:10px 10px 10px 30px;
}

.footer_widget > ul > li > a:hover{
	background:url(../img/list.png) 12px 0px no-repeat #333;
	color:#fff;
}
.footer_widget > ul  > li:last-child{
	border-bottom:1px solid #333;
}

.footer_widget ul li.recentcomments a{
	display:inline;
}
.footer_widget ul li.recentcomments{
	padding:10px;
}
#wp-calendar{
	width:100%;
}
#wp-calendar td, #wp-calendar th, #wp-calendar caption{
	padding:5px;
	color:#999;
	text-align:center;
}
#wp-calendar tfoot td{
	text-align:left;
}
#wp-calendar td:hover, #wp-calendarth:hover{
	background:#333;
}

/* Widgets */

.textwidget{
	color:#999;
}
.footer_widget{
	float:left;
}
.tagcloud a{
	background: #333;
	border: none;
	color: #eaeaea!important;
	font-style: normal;
	font-size: 12px !important;
	font-weight: bold;
	padding: 3px 8px 3px 8px;
	margin-bottom: 4px;
	display: inline-block;
}

.widget_images a img{
	margin: 1px 0px 2px 0px;
	border:3px solid #404040;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.widget_images a img:hover{
	border:3px solid;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	opacity: 1;
	filter: alpha(opacity=100);
}


}

/* predefined by bootstrap */

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
	margin-bottom: 0;
	width: auto;
  }
  .navbar{
  	float:left;
  	width: 100%;
  }
  .navbar-inner {
	margin:0px;
	margin-bottom:15px;
	padding-right:0px !important;
	background:#333 !important;
  }

  .btn-navbar{
  	background: url(../img/mobile-nav-btn.png) top 5px center no-repeat #000 !important;
	padding: 10px !important;
	width: 20px;
	margin-right: 10px !important;
	padding-top: 20px !important;
  }

  .carousel .item {
	height: 500px;
  }
  .carousel img {
	width: auto;
	height: 500px;
  }

  .featurette {
	height: auto;
	padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
	display: block;
	float: none;
	max-width: 40%;
	margin: 0 auto 20px;
  }
  .logo-wrapper{
  width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.search-wrapper input{
	width: 95%;
}
.navbartop-wrapper{
	height:auto;
}
.search-wrapper, .search-wrapper form{
	width:100%;
}
a.login-top, a.register-top, a.account-top, a.submit-top, a.logout-top{
	float:none;
	display:inline-block;
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	margin-bottom: 1px;
}
.navbartop-wrapper .container{
	margin:0px;
	padding:0px;
}
.top-right {
float: none;
width: 100%;
text-align: center;
}

}
.user_project #wpwrap{
	width: 920px;
	margin: 0 auto;
}
.user_project #wpwrap footer{
	width: 920px;
	margin: 0 auto;
}


/* Default wp */
html #wpadminbar{
	z-index:99999 !important;
}
blockquote{
	display:block;
	margin: 10px 0px 20px 0px;
	border-left: 1px solid #CCC;
	color: #AEAEAE;
	padding: 10px 0px 10px 25px;
	font-style: italic;
}
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 10px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 10px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 10px 20px;
}

a img.alignnone {
    margin: 5px 20px 10px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 10px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.sticky
{}
.bypostauthor
{}

.gallery .gallery-caption
{
	font-size: 12px;
	margin: 0 0 12px;
}
.sub-menu{
	display: none;
}
#postcustomstuff .submit .deletemeta{
	color: #000;
}
#postcustomstuff .submit .updatemeta{
	color: #000;
}
#ui-datepicker-div{
display: none;
    background-color: white;
    padding: 10px 20px 10px 10px;
    border: 1px solid #eee;
}
#LoginWithAjax_Remember{
	display: none;
}
.single-project .container.page{
	padding-bottom:20px;
}
.block_accordion_wrapper h3{
	background: #fff;
	border: 1px solid #D8D8D8;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 0.5em 0 10px;
	position: relative;
	font-size: 14px;
		line-height: 21px;
		font-weight: normal;
		margin: 0;
		padding: 10px 70px 10px 15px;
  -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
cursor: pointer;

}

.ui-accordion-content{
	display: none;
		background: url(../pagebuilder/assets/images/drop-bg.png) repeat-x 0 top;
		overflow: hidden;
		padding: 15px 15px 5px;
		-webkit-border-bottom-right-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-bottomright: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		border: 1px solid #D8D8D8;
		margin-top: -1px;

}
.block_accordion_wrapper h3 .arrow{
	background-image: url("../pagebuilder/assets/images/dropdown-arrows.png");
    background-position: -40px -3px;
    background-repeat: no-repeat;
    display: block;
    float: right;
    height: 14px;
    position: absolute;
    right: 15px;
    top: 13px;
    width: 14px;
}
.block_accordion_wrapper h3:hover .arrow{
	background-position: -9px -3px;
	background-image: url("../pagebuilder/assets/images/dropdown-arrows.png");

    background-repeat: no-repeat;
    display: block;
    float: right;
    height: 14px;
    position: absolute;
    right: 15px;
    top: 13px;
    width: 14px;
}
.block-highlight_block, .highlight-no-margin, .block-clear_block, .block-text_block, .block-tabs_block {
	margin-bottom: 0px !important;
	margin-top:0px !important;
}
.footer_widget #searchform input{
width: 80%;
}
.menu{
	padding-top: 0px !important;
}

#fb_login_button{
    margin-top: 10px;
}
 #fb_login_button span{
        background-size: auto;
        background-repeat: no-repeat;
        float:left;
        background-position: 3px -80px;
        height: 26px;
        width: 40px;
        border: 1px solid #29447e;
        background-color: #5f78ab;
        background-image: url(http://static.ak.fbcdn.net/rsrc.php/v2/yx/r/j_i0CTUUUEe.png);
        padding-left: 32px;
        color:#fff;
        line-height: 28px;
}
#fb_login_button a{
/*float:left;    */
}
#twitter_login_link{
    color: #FFF;
    background-color: #0271BF;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(#2daddc,#0271bf);
    background-image: -ms-linear-gradient(#2daddc,#0271bf);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2DADDC),color-stop(100%,#0271BF));
    background-image: -webkit-linear-gradient(#2DADDC,#0271BF);
    background-image: -o-linear-gradient(#2daddc,#0271bf);
    background-image: linear-gradient(#2DADDC,#0271BF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2daddc',endColorstr='#0271bf',GradientType=0);
    border-color: #096EB3;
    padding: 7px 10px;
    margin-left: 15px;
    border-radius: 5px;
    line-height: 28px;
}
#prostatus{
	float: left;
	font-weight: bold;
}
.profile-projects #prostatus{
	position: absolute;
	top: 25px;
	left: 0px;
	padding: 5px 15px;
	background: #666;
	color: white;
	border-radius: 0px 3px 3px 0px;
}

/*carousel fred style*/
@CHARSET "ISO-8859-1";

.more{

	color:#ca7700;
	font-family:Verdana,Geneva,sans-serif;
	font-size:11px;"

}
.category-container #post-content .icon-map-marker{
	margin-left:8px;
}
.foo_con, .project-card p, .category-container #post-content{
	font-size: 12px;
	font-family: arial;
	letter-spacing: 0px;
	line-height: 18px;
	color:#828587;
}
.category-container .post-author{
	color:#999;
}
.category-container #post-content{
	margin-top:15px;
	font-size:14px;
	line-height:20px;
}
.category-container #post-content p{
	margin-top:15px;
	margin-bottom:0px;
	font-size:12px;
}
.caroufredsel_wrapper{
	/height:380px !important;
	/width: 1030px !important;
}
.caroufredsel_wrapper .project-card{
	margin: 0px 0px 15px 15px !important;
}
#foo1{
	height:auto !important;
}
.image_carousel {
	padding: 0px 55px 15px 45px;
	position: relative;
}

a.prev, a.next {
	border-radius:5px;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 40%;
}


#foo_content{

	padding: 9px;
	margin: 7px;
	display: block;
	float: left;
	height:auto;

	width:150px;
	min-height:150px;
	max-height:280px;


}


a.prev {			left: 0px;
					background:url(../img/left.png);
					background-color:#333;
					background-repeat:no-repeat;
					background-position:center;
					}
a.next {			right: 0px;
					background:url(../img/right.png);
					background-color:#333;
					background-repeat:no-repeat;
					background-position:center;
					}

a.prev span, a.next span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}

#toTop{
	z-index: 22222 !important;
}


/***************** Image with animation ******************/

img.img-with-animation {
	opacity: 0;
	position: relative;
}

img.img-with-animation[data-animation="grow-in"].full-opacity {
	opacity: 1;
}

html:not(.js) img.img-with-animation  {
	opacity: 0;
}

img.img-with-animation[data-animation="grow-in"] {
	opacity: 0;
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -o-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
    -webkit-transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
    -moz-transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
    -o-transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
}

img.img-with-animation[data-animation="fade-in-from-left"] {
	left: -130px;
	padding-right: 30px;
	opacity:0;
}

img.img-with-animation[data-animation="fade-in-from-right"] {
	right: -130px;
	padding-left: 30px;
	opacity:0;
}

img.img-with-animation[data-animation="fade-in-from-bottom"] {
	bottom: -150px;
	opacity:0;
}

img.img-with-animation[data-animation="fade-in-from-left"], img.img-with-animation[data-animation="fade-in-from-right"] {
	margin: 0 auto;
	opacity:0;
}


/***************** Span with animation ******************/

span.i-with-animation {
	opacity: 0;
	position: relative;
}

span.i-with-animation[data-animation="grow-in"].full-opacity {
	opacity: 1;
}

html:not(.js) span.i-with-animation  {
	opacity: 1;
}

span.i-with-animation[data-animation="grow-in"] {
	opacity: 0.1;
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -o-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
    -webkit-transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
    -moz-transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
    -o-transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
}



/***************** Skill bar with animation ******************/

div.b-with-animation {
	opacity: 0;
	position: relative;
}

div.b-with-animation[data-animation="grow-in"].full-opacity {
	opacity: 1;
}

html:not(.js) div.b-with-animation  {
	opacity: 0;
}

div.b-with-animation[data-animation="grow-in"] {
	opacity: 0.1;
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -o-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
    -webkit-transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
    -moz-transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
    -o-transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
}

div.b-with-animation[data-animation="fade-in-from-left"] {
	left: -40px;
	padding-right: 30px;
}

div.b-with-animation[data-animation="fade-in-from-right"] {
	right: -40px;
	padding-left: 30px;
}

div.b-with-animation[data-animation="fade-in-from-bottom"] {
	bottom: -100px;
}

div.b-with-animation[data-animation="fade-in-from-left"], img.img-with-animation[data-animation="fade-in-from-right"] {
	margin: 0 auto;
}


/*** Logo slider ***/


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 0px;
	padding: 0;
	*zoom: 1;
	max-width: none !important;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: solid #fff 5px;
	left: -5px;
	background: #fff;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */
.bx-wrapper .bx-viewport {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	border: solid transparent 5px;
	background: transparent;
	/height: auto!important;
}

.bx-wrapper .bx-loading {
	background: url(../img/bxslider/bx_loader.gif) center center no-repeat transparent;
}

.bx-wrapper .bx-controls {
	opacity:0.8;
	transition:500ms;
	-webkit-transition:500ms;
	-moz-transition:500ms;
}

.bx-wrapper:hover .bx-controls {
	opacity:1;
}

.bx-wrapper ul {
	list-style-type:none;
	padding:0;
	margin:0;
	height:100%;
}

.bx-wrapper ul li {
	text-align:center;
	background:none;
	display:block;
	height:100%;
	margin:0 16px;
}
.bx-wrapper ul li a{
	height: 100%;
	display: inline-block;
	max-height: 100%;
max-width: 100%;
}
.bx-wrapper ul .clear{
	float:none !important;
}
.bx-wrapper ul li img {
	max-height:100%;
	max-width:100%;
	display: block;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
	top: 50%;

}

.bx-wrapper ul.gray li img, .bx-wrapper ul.grayhovercolor li img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    /* -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.bx-wrapper ul.grayhovercolor li img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

@media all and (-webkit-min-device-pixel-ratio: 2) {
	.bx-wrapper .bx-prev { background: url(../img/bxslider/controls@2x.png) no-repeat 0 -32px; background-size:96px,63px; }
	.bx-wrapper .bx-next { background: url(../img/bxslider/controls@2x.png) no-repeat -43px -32px; background-size:96px,63px; }
}

@media all and (-webkit-min-device-pixel-ratio: 3) {
	.bx-wrapper .bx-prev { background: url(../img/bxslider/controls@3x.png) no-repeat 0 -32px; background-size:96px,63px; }
	.bx-wrapper .bx-next { background: url(../img/bxslider/controls@3x.png) no-repeat -43px -32px; background-size:96px,63px; }
}

/* alignment */
.bx-wrapper ul.sky-logo-carousel.align-center li span.helper { height:100%; display:inline-block; vertical-align:middle; }
.bx-wrapper ul.sky-logo-carousel.align-center li img { max-height:100%; display:inline-block; vertical-align:middle; }
.bx-wrapper ul.sky-logo-carousel.align-bottom li span.helper { height:100%; display:inline-block; vertical-align:bottom; }
.bx-wrapper ul.sky-logo-carousel.align-bottom li img { max-height:100%; display:inline-block; vertical-align:bottom; }
.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../img/bxslider/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: -5px;
	background-image: url(../img/prev.png);

}

.bx-wrapper .bx-next {
	right: -5px;
	background-image: url(../img/next.png);
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	text-indent: -9999px;
	z-index: 9999;
	padding: 5px 10px 5px 10px;
	width: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #e2e2e2;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../img/bxslider/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../img/bxslider/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

.centered{
	text-align:center;
}

.bgpattern{
	padding:20px;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.bgpattern:hover{
		transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.bgpattern:hover > h2, .bgpattern > h2, .bgpattern:hover > .container > h2, .bgpattern > .container > h2, .bgpattern:hover > .icon, .bgpattern:hover > p{
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.bgpattern:hover > p{
	color:#f1f1f1;
}
.block .charblock{
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	color: #ccc;
}
.block .charblock:hover{
	background: rgba(0,0,0,0.03);
}
.block .charblock h2{
	font-size:22px;
	color:#444;
	margin-top:0px;
}
.block .charblock p{
	font-size:12px;
	color:#999;
}
.icon{

}
.icon span{
	font-size:40px;
	line-height:80px;

}



/* News blocks */

.newsbh{
	margin:0;
	padding:0;
	min-width:auto;
	min-height: auto;
}
.span12 .newsbh-item, .span12 .newsbv-item-first{
	width: 198px;
}
.span1 .newsbh-item, .span1 .newsbv-item-first, .span2 .newsbh-item, .span2 .newsbv-item-first, .span3 .newsbh-item, .span3 .newsbv-item-first{
	width:100%;
}
.span4 .newsbh-item, .span4 .newsbv-item-first{
	width: 45%;
}
.span5 .newsbh-item, .span5 .newsbv-item-first, .span6 .newsbh-item, .span6 .newsbv-item-first{
	width: 46%;
}
.span7 .newsbh-item, .span7 .newsbv-item-first{
	width: 182px;
}
.span8 .newsbh-item, .span8 .newsbv-item-first{
	width: 213px;
}
.span9 .newsbh-item, .span9 .newsbv-item-first, .span10 .newsbh-item, .span10 .newsbv-item-first{
	width: 23%;
}
.span11 .newsbh-item, .span11 .newsbv-item-first{
	width: 179px;
}

.newsbh-item, .newsbv-item-first{
	width: 195px;
	float: left;
	margin-right: 7px;
	list-style: none;
	padding: 0 !important;
	border: 0px !important;
	margin-left: 7px;
	margin-bottom: 25px;

}

.newsb-title{
	margin-bottom:5px;
}
.post-meta{
	font-size:11px;
	color: #999;
	margin-bottom:5px;
}
.post-meta i{
	color: #ccc;
}
.widget .newsb-title a{
	text-transform: none;
	font-weight: bold;
	font-size: 16px;
}
.newsbv-item-first .newsb-thumbnail{
	position:relative;
	float:none;
}
.newsbh-item .newsb-thumbnail{
	position:relative;
	float:none;
}

.newsb-thumbnail{
	position:relative;
	float:left;
}
.newsb-thumbnail a, .newsb-thumbnail img{
	transition: opacity 0.35s;
	-moz-transition: opacity 0.35s;
	-webkit-transition: opacity 0.35s ;
	-o-transition: opacity 0.35s ;
}
.newsb-thumbnail a:hover > .overlay-link, .newsb-thumbnail a:hover > img{
	opacity: 0.75;
}
.newsb-thumbnail a .overlay-link{
	position:absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background:url(../img/link.png) center no-repeat;
	opacity:0;
	transition: opacity 0.35s ;
	-moz-transition: opacity 0.35s;
	-webkit-transition: opacity 0.35s;
	-o-transition: opacity 0.35s ;
}


/* Horizontal */

.newsbv {
	margin:0;
	padding:0;
	min-width:auto;
	min-height: auto;
}
.newsbv-item-first{
	width:100%;
}
.newsbv-item-first .newsb-title{
	margin-top:15px !important;
}
.newsbv li:nth-child(2){
	border-top: 1px solid #ddd !important;
}
.newsbv-item{
	padding: 27px !important;
	margin-left: -20px;
	margin-right: -20px;
	background: #eee;
	border: 1px solid #ddd;
	float: left;
	list-style: none;
	border-top: 1px solid #fff !important;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.newsbv-item:hover{
	background: #fff;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.newsbv-item img{
	height: 75px;
	width: 75px;
	float: left;
	margin-right: 10px;
}
.newsbv .newsb-title{
	margin-top: 0px;
}

.span7 .newsbv-item, .span8 .newsbv-item, .span9 .newsbv-item, .span10 .newsbv-item, .span11 .newsbv-item, .span12 .newsbv-item{
	float:right;
	width: 56%;
	margin-right: -21px;
	margin-left:10px;
	padding: 17px !important;
}
.span7 .newsbv li:nth-child(2), .span8 .newsbv li:nth-child(2), .span9 .newsbv li:nth-child(2), .span10 .newsbv li:nth-child(2), .span11 .newsbv li:nth-child(2), .span12 .newsbv li:nth-child(2){
	margin-top: -20px;
}
.span7 .newsbv li:first-child, .span8 .newsbv li:first-child, .span9 .newsbv li:first-child, .span10 .newsbv li:first-child, .span11 .newsbv li:first-child, .span12 .newsbv li:first-child{
	float: left;
	width: 34%;
	padding: 0px !important;
}
.span5 .newsbv li:first-child, .span6 .newsbv li:first-child{
	margin-left: 0;
}
.newsbv li:first-child img{
	min-width:100%;
}
.span7 .newsbv li:last-child, .span8 .newsbv li:last-child, .span9 .newsbv li:last-child, .span10 .newsbv li:last-child, .span11 .newsbv li:last-child, .span12 .newsbv li:last-child{
	margin-bottom:-20px;
}
.span1 .newsbv li:last-child, .span2 .newsbv li:last-child, .span3 .newsbv li:last-child, .span4 .newsbv li:last-child, .span5 .newsbv li:last-child, .span6 .newsbv li:last-child{
	margin-bottom:0px;
}
.span1 .newsbv-item, .span2 .newsbv-item, .span3 .newsbv-item, .span4 .newsbv-item{
	margin-top: 0px !important;
	padding: 5% !important;
	float: left;
	width: 90%;
	margin-left: 0px;
}
.newsbv .newsbv-item:last-child;{

}
.span1 .newsbv li:first-child, .span2 .newsbv li:first-child, .span3 .newsbv li:first-child, .span4 .newsbv li:first-child{
	width:100%;
	margin-left:0px;
}

/* Tabbed */

.news_tabbed .block_tabs .tab {
	padding:0px;
}

.news_tabbed .block_tabs .tab .newsbv li:nth-child(2), .news_tabbed .block_tabs .tab .newsbv li{
	margin:0px !important;
}


.block-page_header_block .block-title{
	margin-left:0px;
}
.block-page_header_block{
	margin-bottom:15px !important;
}

/* Dividers */
.block-divider{
	margin:30px 0px 30px 0px;
	height:1px;
	background:rgba(102, 102, 102, 0.3);
}


/***************** Parallax ******************/

.full-width-section {
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	box-sizing: content-box!important;
	-moz-box-sizing: content-box!important;
	-webkit-box-sizing: content-box!important;
	margin-left: -50%;
    padding-left: 50%;
    padding-right: 50%;
    width: 100%;
    position: relative;
    z-index: 0;
    visibility: hidden;
	background-position: 50% 23px;
	background-repeat: repeat-x;
	padding: 85px 5340px 70px;
	margin-left: -5340px;
	visibility: visible;
	margin-bottom:40px;
	border-top: 1px solid #d9d9de;
	border-bottom: 1px solid #d9d9de;
}

.light, .dark{
	position:relative;
	z-index:10;
}


.parallax_section h3.widget-title {
	font-size: 26px;
	margin-bottom: 0px;
	text-transform: none;
	font-weight: bold;
	text-align: left;
	text-transform: capitalize;
	background-color:transparent;
	background:none;
	padding-left:0px;
}
.full-width-section > .span_12 > div:last-child {
	padding-bottom: 0px!important;
}

.full-width-section img {
	display: block;
	margin-bottom: 0px!important;
}

html:not(.js) .full-width-section {
	visibility: visible;
}

.full-width-section.parallax_section {
	background-attachment: fixed;
	overflow:hidden;
	margin-bottom:0px;
}

.full-width-section.parallax_section  video{
	position: absolute !important;
	top:-15%;
	left:30px !important;
	z-index:0;
	width:100% !important;
}


.full-width-section.no-cover {
	background-size: auto!important;
	-moz-background-size: auto!important;
	-webkit-background-size: auto!important;
}

.full-width-section > .col.span_12 {
	float: none!important;
}

.full-width-section > .col.span_12.light {
	color: #fff;
}

.home-wrap .full-width-section.first-section {
	margin-top: -37px!important;
}


.light, .dark{
	position:relative;
	z-index:10;
}


.parallax_section h3.widget-title {
	font-size: 26px;
	margin-bottom: 0px;
	text-transform: none;
	font-weight: bold;
	text-align: left;
	text-transform: capitalize;
	background-color:transparent;
	background:none;
	padding-left:0px;
}
.full-width-section > .span_12 > div:last-child {
	padding-bottom: 0px!important;
}

.full-width-section img {
	display: block;
	margin-bottom: 0px!important;
}

html:not(.js) .full-width-section {
	visibility: visible;
}

.full-width-section.parallax_section {
	background-attachment: fixed;
	overflow:hidden;
	margin-bottom:0px;
}

.full-width-section.parallax_section  video{
	position: absolute !important;
	top:-15%;
	left:30px !important;
	z-index:0;
	width:100% !important;
}


.full-width-section.no-cover {
	background-size: auto!important;
	-moz-background-size: auto!important;
	-webkit-background-size: auto!important;
}

.full-width-section > .col.span_12 {
	float: none!important;
}

.full-width-section > .col.span_12.light {
	color: #fff;
}

.home-wrap .full-width-section.first-section {
	margin-top: -37px!important;
}
.parallax_section .block-highlight_block  .highlight-no-margin{
	background:none;
	padding: 0 !important
}
.animated-no-margin{
	margin-bottom:-40px;
}
.parallax-no-padding{
	padding-bottom:0px !important;
}
.parallax-no-padding-top{
	padding-top:0px !important;
}
.parallax-no-margin-top{
	margin-top:-20px !important;
}
.parallax-no-margin-bottom{
	margin-bottom:-20px !important;
}
/*
/* Light version fixes

.parallax_section .light .block-page_header_block .block-title h2, .parallax_section .light h3.widget-title,.parallax_section .light .block-skills_block, .parallax_section .light .block h3:first-child, .parallax_section .light .block-news_block a, .parallax_section .light .newsbv-item-first a, .parallax_section .light .newsbv-item-first, .parallax_section .light .block_tabs .tab, .parallax_section .light .block_toggle, .parallax_section .light .ui-accordion-content p, .parallax_section .light .highlight h2, .parallax_section .light, .parallax_section .light p{
	color:#fff;
}

.parallax_section .light .block-title p, .parallax_section .light .block-news_block .post-meta, .parallax_section .light .newsbv-item-first .post-meta{
	color:#ddd;
}

.parallax_section .light .block h3:first-child:after{
	height:0px;
}

.parallax_section .light .block-divider{
	opacity:0.5;
}

.parallax_section .light .block_tabs .tab{
	background-color:transparent;
	padding:20px 0px 20px 0px;
}

/* Dark version fixes

.parallax_section .dark .block-page_header_block .block-title h2, .parallax_section .dark h3.widget-title,.parallax_section .dark .block-skills_block, .parallax_section .dark .block h3:first-child, .parallax_section .dark .block-news_block a, .parallax_section .dark .newsbv-item-first a, .parallax_section .dark .newsbv-item-first, .parallax_section .dark .block_tabs .tab, .parallax_section .dark .block_toggle, .parallax_section .dark .ui-accordion-content p, .parallax_section .dark, .parallax_section .dark p{
	color:#333;
}

.parallax_section .dark .block-title p, .parallax_section .dark .block-news_block .post-meta, .parallax_section .dark .newsbv-item-first .post-meta{
	color:#666;
}

.parallax_section .dark .block h3:first-child:after{
	height:0px;
}

.parallax_section .dark .block-divider{
	opacity:0.5;
}

.parallax_section .dark .block_tabs .tab{
	background-color:transparent;
	padding:20px 0px 20px 0px;
}
*/
.facebook-btn input{
	background-color:#3b5998 !important;
}
/* campaign */

#story{
	line-height:25px;
	margin-top:0px;
}
.sub-project{
	margin-top:40px;
	border-radius: 5px 5px 0px 0px;
	padding-top:0px !important;
}
.sub-project label, .profile label{
	padding: 5px 10px 5px 0px;
	font-weight: bold;
	border-bottom: 1px solid #fff;
	display: block;
	margin-bottom: 10px;
	cursor:default;
}
.sub-project label.error{
	color:red;
	font-weight:normal;
}
.sub-project fieldset:first-child{
	margin-top:0px;
}
.sub-project fieldset, .profile fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	padding: 1.5%;
	background: #f8f8f8;
	margin-top: 10px;
	border-radius: 5px;
	position:relative;
}
.sub-project fieldset.fhalf{
	float:left;
	width:47%;
	margin-right:1%;
}
.sub-project fieldset.shalf{
	float:left;
	width:46%;
}
.sub-project  textarea, .sub-project  input[type="text"], .profile textarea, .profile input[type="text"], .profile input[type="password"], .profile select{
	width:96%;
	padding:2%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16)!important;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16)!Important;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16)!Important;
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16)!Important;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}
.sub-project .mceIframeContainer{
	background-color:#fff;
}
.sub-project  select{
	width:100%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16)!important;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16)!Important;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16)!Important;
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16)!Important;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	padding:10px !important;
	background-color: #fff;
	line-height:22px;
	height:45px;

}
.sub-project  select:hover, .sub-project  select:focus, .sub-project  select:active, .sub-project  select, .postZone, .postZone:active, .postZone:focus, .postZone:hover{
	border:0px !important;
	outline:0px !important;
}
.sub-pro-title{
	width:100%;
	background: #1f282d;
	padding:15px 0px 15px 0px;
	text-align:center;
	color:#fff;
	margin-bottom:20px;
	border-radius: 5px 5px 0px 0px;
}

.sub-pro-title h1{
	font-size:20px;
	font-weight:bold;
}

fieldset.sub-bar{
	text-align:center;
	width:100%;
	background: #f8f8f8;
	position:fixed;
	bottom:0px;
	left:0px;
	padding: 5px 0px 3px 0px;
	z-index:999999;
}
fieldset.sub-bar button[value="pending"], .sub-bar button{
	margin: 5px 10px 5px 5px;
}
.pb-summary li strong{
	color:#999;
}
.pb-summary h4{
	margin-top:5px;
}
.pb-summary li{
	border-right: 1px solid #eee;
	margin-right: 15px;
	margin-left: 5px;
}
.pb-summary li.pb-left{
	border-right:0px;
}
.pb-ftitle{
	margin: 50px 0px 20px 0px;
	background: #1f282d;
	border-radius: 5px;
	color: #fff;
	padding: 1px;
}

.edit-delete{
	margin-bottom:10px;
}
.edit-delete a{
	font-size: 14px;
	font-weight: bold;
}

.pb-saved .pb-summary, .pb-saved .progress-striped .bar{
	background:#ccc !important;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
	width:100%;
}
.fileinput-button {
	position: relative;
	overflow: hidden;
	display:inline-block;
	margin-top: 10px;
	/margin-bottom: -20px;
}
.pb-category {
	position: absolute;
	top: 25px;
	left: -1px;
	padding: 5px 10px 5px 10px;
	z-index: 999;
	color: #fff;
	text-transform: capitalize;
}
#add_reward, .removeme, #cropme, #cancelme0{
	display:inline-block;
	cursor:pointer;
}
#cropme, #cancelme0{
	margin-bottom: 10px;
}
.removeme{
	margin-top: 10px;
	margin-bottom: 15px;
}
#status{
	/margin: 0px 0px 25px 0px;
	font-family: arial;
	font-size: 14px;
	color: #666;
	display:block;
}

/* modal */

#myModalL .modal-body a.facebookloginb, #myModalR .modal-body a.facebookloginb{
	background-color:#3b5998;
}
#myModalL .modal-body a.twitterloginb, #myModalR .modal-body a.twitterloginb{
	background-color:#5dd7fc;
}
#myModalL .modal-body a.googleloginb, #myModalR .modal-body a.googleloginb{
	background-color:#d34836;
}

#social_login p {
	margin: 15px 0px 10px 0px;
	color: #999;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}

#social_login .button-medium{
	display:inline-block;
}

#myModalL #social_login{
	margin-bottom:-10px;
}

.modal-body .delete-button.button-small.button-red{
	float:left;
}
.modal-body .button-small.button-grey{
	float:right;
}
#cancelme{
	padding-top:15px;
}
.no-pr{
	float:left !important;
	position:relative !important;
	margin-left: 2.8%;
	margin-top:0px !important;
}
.no-backers{
	margin: 10px 0px;
	background: #EEE none repeat scroll 0% 0%;
	padding: 20px 20px 20px;
	border: 1px solid #E2E2E2;
}
.page-template-tmp-submit-project .media-frame .embed-url input{
	font-size: 14px;
height: 42px;
padding: 12px 14px 12px 18px;
}
.page-template-tmp-submit-project .media-modal-icon .screen-reader-text{
	display:none;
}

/*tabs in single*/
.nav-tabsin:before, .nav-tabsin:after {
    content: "";
    display: table;
    line-height: 0;
}
.nav-tabsin:after {
    clear: both;
}
.nav-tabsin:before,  .nav-tabsin:after{
    content: "";
    display: table;
    line-height: 0;
}
.nav-tabsin {
    margin-bottom: 0;
	margin-top:25px;
}
.navsin {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-left: 0;
}
.nav-tabsin > li {
    float: left;
}

.nav-tabsin > li strong{
	margin-right:5px;
}

.nav-tabsin > .active > a, .nav-tabsin > .active > a:hover, .nav-tabsin > .active > a:focus {
    color: #FFFFFF;
    cursor: default;
}
.nav-tabsin > li > a{
    margin-right: 3px;
    color: #FFFFFF;
}
.navsin > li > a {
    display: block;
	border-radius: 3px 3px 0px 0px;
	border: 0px;
}

.nav-tabsin a {
    font-size: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
}


/* Custom Spans */

body .template-wrapper .span1 { width:5.58%; }
body .template-wrapper .span2 { width:14.17%; }
body .template-wrapper .span3{ width:22.75%; }
body .template-wrapper .span4 { width:31.33%; }
body .template-wrapper .span5 { width:39.92%; }
body .template-wrapper .span6 { width:48.5%; }
body .template-wrapper .span7 { width:57.08%; }
body .template-wrapper .span8 { width:65.67%; }
body .template-wrapper .span9 { width:74.25%; }
body .template-wrapper .span10 { width:82.83%; }
body .template-wrapper .span11 { width:91.42%; }
body .template-wrapper .span12 { width:100%; }



/*megamenu*/
.nav-collapse ul.nav li.megamenu {
	position: inherit !important;
}

.nav-collapse ul.nav li.megamenu > ul.sub-menu {
	left: -250%;
	padding: 15px 0px;
	background-color: #333333;
}

.nav-collapse ul.nav li.megamenu > ul > li {
	display: table-cell!important;
    float: none!important;
	padding: 0px 0px 0px 15px;
	width: 33.33%;
	border-bottom: 0;
	border-right: 1px solid #3f3f3f;
}

.nav-collapse ul.nav li.megamenu > ul > li > ul > li{
	border:0px;
	background:none;
}
.nav-collapse ul.nav li.megamenu > ul > li > ul > li a, .nav-collapse ul.nav li.megamenu > ul > li a, .nav-collapse ul.nav li.megamenu > ul > li.active a{
	background: none;

}
.nav-collapse ul.nav li.megamenu > ul > li.active a{
	background-color:transparent;
}




.nav-collapse ul.nav li.megamenu.col3 > ul > li { width: 33.33%; min-width:150px; }
.nav-collapse ul.nav li.megamenu.col4 > ul > li { width: 25%; min-width:150px; }
.nav-collapse ul.nav li.megamenu.col5 > ul > li { width: 20%; min-width:150px; }
.nav-collapse ul.nav li.megamenu.col6 > ul > li { width: 16.66%%; min-width:150px; }

.nav-collapse ul.nav li.megamenu > ul > li ul {
	display: block!important;
	top: 0px!important;
	width: 100%;
	opacity: 1!Important;
	left: 0px!important;
	position: relative!important;
}

.nav-collapse ul.nav li.megamenu ul li a {
	border-bottom: none!important;
	padding: 9px 15px;
}
.navbar .nav li.current-menu-parent, .navbar .nav li.current-menu-parent:hover, .nav-tabs .ui-state-ac{
	background:none;
}

li.megamenu > ul > li > a {
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 5px;
	letter-spacing: 2px;
	font-weight: 800;
}
.rewardnasubmitu{
	padding: 0;
	margin: 0;
	border: 0;
	padding: 1.5%;
	background: #f8f8f8;
	margin-top: 10px;
	border-radius: 5px;
	position:relative;
}
.rewardnasubmitu fieldset{
	padding: 0 !important;
}

/* Datepicker
----------------------------------*/
.ui-datepicker { width: 17em; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

.ui-datepicker-current-day a{
	color: #000;
	font-weight: bold;
}

.project-thumb-wrapper img{
margin:0px !important;
}
.cpr{
	z-index: 22 !important;
}