/*-------------------------------------------------------------------------------------------*/
/* OptionsFramework Admin Styles */
/*-------------------------------------------------------------------------------------------*/
#close_update_nag {
	margin: auto auto auto 50px;
}
#close_update_nag:link, #close_update_nag:visited, #close_update_nag:active {
	text-decoration:none;
}
/* Absolute Center CSS Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */

  color: #000;
  border: 0;
}
.loading_text {
	position: fixed;
  z-index: 999;
  height: 2em;
  width:100%;
  text-align:center;
  overflow: show;
  margin: auto;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*a.nav-tab {font:bold 14px Arial, Helvetica, sans-serif;}*/
#wpcontent{
}
#wpfooter{
	display:none;
}
.updated {
	max-width:764px;
	margin-bottom:0px !important;
}
#optionsframework {
	position:relative;
	z-index: 0;
	background:none;
	width:100%;
}
#optionsframework p {
	margin-bottom:0;
	padding-bottom:10px;
}
#optionsframework .section-info .heading{
	padding: 10px 0px 25px 20px !important;
	margin: 0;
	color: #333333 !important;
	text-transform: capitalize !important;
	font-size: 28px !important;
	border-top: 0px !important;
}
#optionsframework .section-info p{
	margin-left:15px;
}
#optionsframework .section .option {
	padding:20px 15px 30px 30px;
	max-width:1100px;
}
#optionsframework .group {
	padding:20px;
}
#optionsframework .section .heading {
	font-family:"Open Sans",Helvetica,Arial,sans-serif;
	padding:30px 0px 0px 30px;
	margin:0;
	color:#999;
	font-size:12px;
	text-transform:uppercase;
	border-top: 1px solid #dfdfdf;
}
#optionsframework .section .controls {
	float: left;
	min-width:350px;
	width: 60%;
	padding-right:2%;
}
#optionsframework .section .explain {
	width:300px;
	float: right;
	font-size: 11px;
	text-align:left;
	background: #eee;
	padding: 25px;
	line-height:16px;
	color: #777;
}
#optionsframework .section-checkbox .controls {
	width: 98%;
}
#optionsframework .section-checkbox .explain {
	max-width:94%;
}
#optionsframework .section-color .controls {
	min-width:125px;
	width:125px
}
#optionsframework #section-repeat a{
	display:block;
	float:left;
	width:67px;
}

#optionsframework .controls input, #optionsframework .controls select, #optionsframework .controls textarea {
	margin-bottom:10px;
	width:100%;
	background-color:#f1f1f1;
}
 #optionsframework .controls select{
	height: 30px;
}
#optionsframework .controls input, #optionsframework .controls textarea {
	padding:12px;
}
#optionsframework .section-radio label, #optionsframework .section-multicheck label {
	float:left;
	max-width:90%;
	line-height: 16px;
	margin-bottom: 5px;
}
#optionsframework input.checkbox, #optionsframework input.of-radio {
	width: 30px;
	float:left;
	clear:both;
}
#optionsframework .controls .of-color {
	float:left;
	width: 80px;
	margin-left:5px;
	margin-right:5px;
}
#optionsframework .controls .of-typography-size {
	width:80px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-unit {
	width:50px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-face {
	width:100px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-style {
	width:80px;
	margin-left:5px;
	margin-right:5px;
	float:left
}
#optionsframework .of-background-properties {
	clear:both;
	margin-top: 18px;
}
#optionsframework .controls .of-background-repeat {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-position {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-attachment {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework div.section-background .controls input.upload {
	width:47%;
}
#optionsframework .controls .of-radio-img-img {
	border:2px solid #fff;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
		transition:all 0.35s ease-in-out;
	-moz-transition:all 0.35s ease-in-out;
	-webkit-transition:all 0.35s ease-in-out;
	-o-transition:all 0.35s ease-in-out;
	opacity:.6;

}
#optionsframework .controls .of-radio-img-selected {
	border:2px solid #02affc;
	opacity:1;
}
#optionsframework .controls .of-radio-img-img:hover {
	opacity:1;
		transition:all 0.35s ease-in-out;
	-moz-transition:all 0.35s ease-in-out;
	-webkit-transition:all 0.35s ease-in-out;
	-o-transition:all 0.35s ease-in-out;
}
#optionsframework .controls .of-border-width {
	width:80px;
	float:left
}
#optionsframework .controls .of-border-style {
	width:120px;
	float:left
}
#optionsframework .hide {
	display:none;
}
#optionsframework .of-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#optionsframework .mini .controls select, #optionsframework .section .mini .controls {
	width: 140px;
}
#optionsframework .mini .controls input, #optionsframework .mini .controls {
	min-width:140px;
	width: 140px;
}
#optionsframework .mini .explain {
	max-width:74%;
}
/* Image Uploader */
#optionsframework .controls input.upload {
	width: 80%;
}
#optionsframework .controls input.upload_button{
	transition:all 0.35s ease-in-out;
	-moz-transition:all 0.35s ease-in-out;
	-webkit-transition:all 0.35s ease-in-out;
	-o-transition:all 0.35s ease-in-out;
	position: relative;
	top: -3px;
	color: #FFFFFF;
	box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
	text-transform: uppercase;
	font-weight:bold;
	display: inline-block;
	border-radius: 5px 5px 5px 5px;
	border:none;
	margin-top: 5px;
	color:#fff;
	background-color:#ff5a5a;
	font-size: 12px;
	padding: 12px 20px 12px 20px !important;
	line-height: 16px !important;
	height: auto !important;
	width: auto !important;
	margin-left: 10px;
}
#optionsframework .controls input.upload_button:hover, #optionsframework .controls input.upload_button:focus{
	color:#fff;
	background-color:#b34040;
	outline:none !important;
	border:none !important;
}
#optionsframework .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#optionsframework .screenshot img {
	background:#FAFAFA;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
	margin-bottom:10px;
}
#optionsframework .screenshot .mlu_remove {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#optionsframework .screenshot .no_image .mlu_remove {
	bottom: 0px;
}
#optionsframework .reset-button {
	float:left;
	cursor:pointer;
}
.widget .widget-top, .postbox h3, .stuffbox h3{
	border-bottom-width: 0;
	border-bottom-style: none;
	padding-left:15px;
}
/* Bottom Section */

#optionsframework .button-primary {
	float:right;
}
#setting-error-save_options{
	margin: 25px auto;
}
#wrap{
	margin: 25px auto;
	position: relative;
	z-index: 0;
}
#main{
	background: #292c33;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
#wrap #main .admin-header{
	height:130px;
	background: url(../images/header.jpg) repeat-x top right;
	border-radius: 5px 5px 0px 0px;
}
#wrap #main .admin-header input{
	text-decoration: none;
	position: absolute;
	top: 45px;
	right: 40px;
}
.nav-tab-wrapper {
	float: left;
	position: relative;
	z-index: 9999;
	width: 220px;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	padding-top:10px;
}
.visit_profile:hover, .documentation:hover, .forum:hover{
	background-position:0px -45px;
}
.nav-tab:before{
	display: inline-block;
	font-family: FontAwesome !important;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size:14px;
	margin-right:15px;
}
#of-option-generalsettings-tab:before {
	content: "\f0e4";
}
#of-option-seo-tab:before {
	content: "\f0ac";
}
#of-option-woocommerce-tab:before {
	content: "\f07a";
}
#of-option-colours-tab:before {
	content: "\f0d0";
}
#of-option-footer-tab:before {
	content: "\f15c";
}
#of-option-contact-tab:before {
	content: "\f0e0";
}
#of-option-socialmedia-tab:before {
	content: "\f0c0";
}
#of-option-socialsettings-tab:before {
	content: "\f135";
}
#of-option-croncommand-tab:before {
	content: "\f017";
}
#of-option-premiumsettings-tab:before {
	content: "\f005";
}
#of-option-funding-tab:before{
	content: "\f06d";
}
#of-option-oneclickinstall-tab:before {
content: "\f019";
}
.nav-tab, .nav-tab:visited{
	display: block;
	padding: 20px 10px 20px 35px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 11px;
	font-weight:700;
	text-transform:uppercase;
	text-decoration: none;
	color: white;
	margin:0;
	border-radius:0;
	background: #292c33;
	border:0px;
	color:#999;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	width: 175px;
    outline: none !important;
}
.nav-tab-active, .nav-tab-active.current:hover, .nav-tab-active:hover{
	color: white;
	border-right: none !important;
	background:url(../images/triangle.jpg) right center no-repeat #292c33 !important;
	margin:0;
}
.nav-tab:hover, .nav-tab:active, .nav-tab:focus{
	color: white;
	border:0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background: #292c33;
	outline: none;
}
.save_bar_top{
		background: url("../images/header_loop.jpg") repeat-x scroll left bottom #FBFBFB;
	border: solid #333;
	border-width: 0px 1px 1px 1px;
	padding: 10px 20px 0px 20px;
	height: 50px;
	text-align: right;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
input.button-primary, button.button-primary, a.button-primary, .button-primary{
transition:all 0.35s ease-in-out;
	-moz-transition:all 0.35s ease-in-out;
	-webkit-transition:all 0.35s ease-in-out;
	-o-transition:all 0.35s ease-in-out;
	position: relative;
	top: -3px;
	color: #FFFFFF;
	box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
	text-transform: uppercase;
	font-family: 'Open Sans', arial;
	font-weight:bold;
	display: inline-block;
	border-radius: 5px 5px 5px 5px;
	border:none;
	height: 40px !important;
	padding: 5px 15px 5px 15px !important;
	margin: 2px -11px 0px 0px !important;
	background: #02affc !important;
}
input.button-primary:hover, button.button-primary:hover, a.button-primary:hover, .button-primary:hover{
	color: white;
	background: #08c5ff !important;
}
#optionsframework input#import_btn {
width: 150px;
float: left;
}
.reset-button{
	float:left;
	margin-top:8px !important;
}
.metabox-holder {
	border-top: 1px solid #333;
	border-bottom: 1px solid #CCC;
	margin-left:221px;
	min-height: 800px;
	font-family: "Lucida Grande", Sans-serif;
	background-color: white;
	padding:0 !important;
	border-top-right-radius: 6px;
}
.postbox{
	border: 0;
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background:none;
	float:left;
}
.theme_logo {
	background: url("../images/admin_header.jpg") no-repeat scroll left bottom #3C3C3C;
	color: #FFFFFF;
	font-size: 16px;
	font-style: normal;
	height: 25px;
	padding: 7px 0 9px 47px;
	text-shadow: none !important;
	width: 768px;
}
.theme_logo h2 {
	font-size:17px;
	padding:0 15px 4px 0;
	color:#fff;
	margin: 6px 0px 0px 0px;
	font-weight: normal;
}
#theme_header {
	background: url("../images/header_loop.jpg") repeat-x scroll left bottom #FBFBFB;
	height: 140px;
	position: relative;
}
#theme_header p {
	color: #999999;
	font-size: 12px;
	font-style: italic;
	margin: 0 0 0 5px;
}
.visit a {
	background: url("../images/visit_profile.jpg") no-repeat scroll left top transparent;
	width: 148px;
	display: block;
	height: 45px;
	margin:0 0 0 15px;
}
.visit{
	margin-left:10px;
	margin-top:20px;
}
.need_help {
	bottom: 10px;
	height: 70px;
	position: absolute;
	right: 5px;
	width: 320px;
}
.need_help a {
	float: left;
	margin-right: 10px;
}
.documentation {
	background: url("../images/documentation.jpg") no-repeat scroll left top transparent;
	width: 148px;
	display: block;
	height: 45px;
}
.forum {
	background: url("../images/forum.jpg") no-repeat scroll left top transparent;
	width: 148px;
	display: block;
	height: 45px;
}
.nav-tab-wrapper img {
	margin-bottom: -3px;
}
.nav-tab-wrapper a{
	transition:color 0.35s ease-in-out;
	-moz-transition:color 0.35s ease-in-out;
	-webkit-transition:color 0.35s ease-in-out;
	-o-transition:color 0.35s ease-in-out;
}
#wrap h2, .subtitle {
	text-shadow: none!important;
}
.nav-tab {
	text-shadow: none!important;
}


/* Tooltip */



.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000000;
  border-width: 5px 5px 5px 0;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}
.popover-title:empty {
  display: none;
}
.popover-content {
  padding: 9px 14px;
}
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow {
  border-width: 11px;
}
.popover .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}
.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}
.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}
.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}
.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}
.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}
.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}
.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
}
