<div class="price-columns">
	<div id="column-skeleton" style="display:none">

		<span class="ui-icon ui-icon-carat-2-e-w column-handle"></span>
		<a href="#" class="ui-icon ui-icon-trash submitdelete deletion"></a>

		<div class="type">
			<input type="radio" value="recommend" name="price_recommend" />
			<label><?php esc_html_e('Recommend', 'funding') ?></label>
		</div>

		<input type="text" class="column-title" name="" placeholder="<?php esc_html_e('Title', 'funding') ?>" />
		<input type="text" class="column-price" name="" placeholder="<?php esc_html_e('Price', 'funding') ?>" />
		<input type="text" class="column-detail" name="" placeholder="<?php esc_html_e('Detail', 'funding') ?>" />
		<input type="text" class="column-url" name="" placeholder="<?php esc_html_e('Button URL', 'funding') ?>" />
		<input type="text" class="column-button" name="" placeholder="<?php esc_html_e('Button Text', 'funding') ?>" />

		<h4><a href="#" class="addfeature"><?php esc_html_e('Add', 'funding') ?></a><?php esc_html_e('Features', 'funding') ?></h4>
		<div class="feautres">
			<div class="feature">
				<span class="ui-icon ui-icon-carat-2-n-s feature-handle"></span>
				<a href="#" class="ui-icon ui-icon-trash submitdelete deletion"></a>

				<div><input type="text" class="feature-title" placeholder="<?php esc_html_e('Title', 'funding') ?>"/></div>
				<div><input type="text" class="feature-sub" placeholder="<?php esc_html_e('Sub title', 'funding') ?>" /></div>
				<div><input type="text" class="feature-icon" placeholder="<?php esc_html_e('Yes/No', 'funding') ?>" /></div>
			</div>
		</div>
	</div>

	<?php // Existing columns of the price table ?>
	<?php foreach($table as $i => $column) : ?>
		<div class="column">
			<span class="ui-icon ui-icon-carat-2-e-w column-handle"></span>
			<a href="#" class="ui-icon ui-icon-trash submitdelete deletion"></a>

			<div class="type">
				<input type="radio" name="price_recommend" id="price_recommend_<?php print $i ?>" value="<?php print $i ?>" <?php if(isset($column['featured']) && $column['featured'] === 'true') print 'checked="true"'; ?> />
				<label for="price_recommend_<?php print $i ?>"><?php esc_html_e('Recommend', 'funding') ?></label>
			</div>

			<input type="text" class="column-title" name="price_<?php print $i ?>_title" value="<?php @esc_html_e($column['title']) ?>" placeholder="<?php esc_html_e('Title', 'funding') ?>" />
			<input type="text" class="column-price" name="price_<?php print $i ?>_price" value="<?php @esc_html_e($column['price']) ?>" placeholder="<?php esc_html_e('Price', 'funding') ?>" />
			<input type="text" class="column-detail" name="price_<?php print $i ?>_detail" value="<?php @esc_html_e($column['detail']) ?>" placeholder="<?php esc_html_e('Detail', 'funding') ?>" />
			<input type="text" class="column-url" name="price_<?php print $i ?>_url" value="<?php @esc_html_e($column['url']) ?>" placeholder="<?php esc_html_e('Button URL', 'funding') ?>" />
			<input type="text" class="column-button" name="price_<?php print $i ?>_button" value="<?php @esc_html_e($column['button']) ?>" placeholder="<?php esc_html_e('Button Text', 'funding') ?>" />

			<h4><a href="#" class="addfeature"><?php esc_html_e('Add', 'funding') ?></a><?php esc_html_e('Features', 'funding') ?></h4>
			<div class="feautres">
				<?php if(isset($column['features'])) : foreach($column['features'] as $j => $feature) : ?>
					<div class="feature">
						<span class="ui-icon ui-icon-carat-2-n-s feature-handle"></span>
						<a href="#" class="ui-icon ui-icon-trash submitdelete deletion"></a>

						<div><input type="text" class="feature-title" name="price_<?php print $i ?>_feature_<?php print $j ?>_title" value="<?php esc_html_e($feature['title']) ?>" placeholder="<?php esc_html_e('Title', 'funding') ?>"/></div>
						<div><input type="text" class="feature-sub" name="price_<?php print $i ?>_feature_<?php print $j ?>_sub" value="<?php esc_html_e($feature['sub']) ?>" placeholder="<?php esc_html_e('Sub title', 'funding') ?>" /></div>
						<div><input type="text" class="feature-icon" name="price_<?php print $i ?>_feature_<?php print $j ?>_icon" value="<?php esc_html_e($feature['icon']) ?>" placeholder="<?php esc_html_e('Yes/No', 'funding') ?>" /></div>
					</div>
				<?php endforeach; endif; ?>
			</div>
		</div>
	<?php endforeach ?>

	<div class="column addnew"><?php esc_html_e('Add Column', 'funding') ?></div>
	<div class="clear"></div>
</div>